body {
  text-align: center;
}

.GenralDiv {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.SmallDiv {
  width: 20%;
  height: 300px;
  margin: 20px;
  box-sizing: border-box;
  background-color: whitesmoke;
}
